*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 70px;
}

.banner{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to bottom, rgb(0 0 0 / .75), rgb(0 0 0 / .75)), url(img/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.banner-txt{
    color: #fff;
    text-align: center;
    line-height: 30px;
    width: 700px;
    height: 200px;
    font-family: Pixel;
}

.caja-contenido{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: #242424 1px solid;
    margin: 8px;
    width: 450px;
    height: 250px;
}

.tarjeta-dis{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: #242424 1px solid;
    width: 450px;
    height: 250px;
}

.txt-tarjeta{
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.img-tarjeta{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-tarjeta img{
    width: 65%;
    height: 65%;
}